.app {

}
.header {

}
.main {
  
}
.main::after {
  content: '';
  display: block;
  clear: both;
}
.aside {
  float: left;
  width: 20vw;
  display: flex;
  flex-direction: column;
}
.aside a {

}
.body {
  float: left;
}
h4 {
  margin: 0;
}